.content {
    margin: 47px 136px 0 136px;
    text-align: left;
    width: 1510px;


    /*border: 1px solid black;*/
}

.blue {
    color: #00AED4;
}

.preInfo {
    width: 1146px;
}

.info {
    display: flex;
    height: 550px;

    flex-direction: column;
    flex-wrap: wrap;
    /*justify-content: space-between;*/

    /*margin: 26px 0 0 0;*/

    /*border: 1px solid green;*/
}

.paragraph {
    width: 700px;
    margin: 26px 0 0 0;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #626262;

    /*border: 1px solid red;*/
}

.head {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    color: #4A4A4A;
}

.entryField0 {
    height: 36px;
    width: 443px;
    border: 1px solid #00AED4;
    box-sizing: border-box;
    box-shadow: 0 0 12px rgba(0, 174, 212, 0.35);
    border-radius: 4px;
}

.entryFieldInfo {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */


    color: #00AED4;
}

.entryField2 {
    height: 36px;
    width: 443px;
    background: #FFFFFF;
    border: 1px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 4px;
}

.entryField3 {
    height: 36px;
    width: 443px;
    background: #FFFFFF;
    border: 1px solid #FD2062;
    box-sizing: border-box;
    box-shadow: 0 0 12px rgba(231, 15, 15, 0.5);
    border-radius: 4px;
}