.content {
    margin: 139px 0 0 130px;
    text-align: left;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 87px;
    color: #00D29D;
}